* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
    text-align: center;
}

canvas {
    display: block;
    background: radial-gradient(circle, #111, #000);
}
